<div class="blog-sidebar-area">

    <%- include("latestNewsWidget.ejs") %>

    <%- include("popularNewsSideWidget.ejs") %>

    <%- include("newsletterWidget.ejs") %>

    <%- include("lastCommentsWidget.ejs") %>
    </div>