<!-- Latest Comments Widget -->
<div class="latest-comments-widget">
    <h3>Latest Comments</h3>

    <% comments.forEach(comment => { %>
    <% let now = new Date(comment.time); %>
    <div class="single-comments d-flex">
        <div class="comments-thumbnail mr-15">
            <img src="/img/bg-img/29.jpg" alt="">
        </div>
        <div class="comments-text">
            <a href="#"><%= comment.commentersName%> <span>on</span> <%= comment.textContent%></a>
            <p><%= dateAndTime.format(now, 'h:mm A | MMMM DD') %></p>
        </div>
    </div>
    <%}); %>


</div>