
<div class="popular-news-widget mb-50">
    <h3>4 Most Popular News</h3>

<% popularNews.forEach((news, index) => { %>
    

    <% let now = new Date(news.time); %>
    <div class="single-popular-post">
    <a href="#">
        <h6><span><%= ++index%>.</span> <%= news.textContent%></h6>
    </a>
    <p><%= dateAndTime.format(now, 'h:mm A | MMMM DD') %></p>
</div>
<% });%>

</div>