<div class="popular-news-widget mb-30">
        <h3>4 Most Popular News</h3>

<% popularNews.forEach((news, index) => { %>
    <% let now = new Date(news.article_postdate); %>
    <div class="single-popular-post">
    <a href="/single-post/<%= news.article_id%>">
        <h6><span><%= ++index%>.</span> <%= news.article_title%></h6>
    </a>
    <p><%= dateAndTime.format(now, 'h:mm A | MMMM DD') %></p>
</div>
<% });%>
    </div>